# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-d51df33dab5c7ebeea13.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-77bc8a1e3fe38ab0d82d.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-d9b037dd37a212f1fb0a.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine-Debug-776e2b00c6520ab49d05.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp-Debug-bf4184e7923576dec83c.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.code-Debug-c9cd8a68a95a5435f5c8.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.contrib.zlib-Debug-3e5e682df05631f8a2f3.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.test-Debug-aa1b139da31cbd116b90.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.test.headercheck-Debug-66907a7a48e520e9b9d9.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glfw-Debug-7da64dec6ade5d33110c.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glfw.docs-Debug-9cd4d773b5332a0f4105.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glfw.src-Debug-1863bc5cb042b0e44cb7.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glm-Debug-525c7808a13e0e18d14b.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glm.glm-Debug-358cf83d13a307fed808.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.imgui-Debug-1b47b04bff059dc96369.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-testbed-Debug-35c0b35746384783206d.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2024-04-06T13-12-53-0335.json
out/build/x64-Debug/.cmake/api/v1/reply/target-assimp-Debug-06508dcb64d26a2ab250.json
out/build/x64-Debug/.cmake/api/v1/reply/target-engine-Debug-569574d90e617f420cb2.json
out/build/x64-Debug/.cmake/api/v1/reply/target-glfw-Debug-8a05aff6769dca0f3d3a.json
out/build/x64-Debug/.cmake/api/v1/reply/target-glm-Debug-df6a5e39e83b14e85ffb.json
out/build/x64-Debug/.cmake/api/v1/reply/target-imgui-Debug-0593c9e1cf29e670cc25.json
out/build/x64-Debug/.cmake/api/v1/reply/target-testbed-Debug-fc8a9d78a1e13033cea1.json
out/build/x64-Debug/.cmake/api/v1/reply/target-uninstall-Debug-8ab54cee3a0ae87ca7d6.json
out/build/x64-Debug/.cmake/api/v1/reply/target-unit-Debug-c74d2a06c624575469e3.json
out/build/x64-Debug/.cmake/api/v1/reply/target-update_mappings-Debug-e030de58dbea84298dff.json
out/build/x64-Debug/.cmake/api/v1/reply/target-UpdateAssimpLibsDebugSymbolsAndDLLs-Debug-eaf48ef4167e225bfc9d.json
out/build/x64-Debug/.cmake/api/v1/reply/target-zlibstatic-Debug-554a24b258748ff034db.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-59c84e7e9823f39a3470.json
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/engine/engine.exp
out/build/x64-Debug/engine/engine.ilk
out/build/x64-Debug/engine/engine.pdb
out/build/x64-Debug/engine/vendor/assimp/assimp.pc
out/build/x64-Debug/engine/vendor/assimp/revision.h
out/build/x64-Debug/engine/vendor/assimp/code/assimp-vc143-mtd.pdb
out/build/x64-Debug/engine/vendor/assimp/contrib/zlib/zconf.h
out/build/x64-Debug/engine/vendor/assimp/contrib/zlib/zlib.pc
out/build/x64-Debug/engine/vendor/assimp/generated/assimpConfig.cmake
out/build/x64-Debug/engine/vendor/assimp/generated/assimpConfigVersion.cmake
out/build/x64-Debug/engine/vendor/assimp/include/assimp/config.h
out/build/x64-Debug/engine/vendor/glfw/cmake_uninstall.cmake
out/build/x64-Debug/engine/vendor/glfw/src/glfw3.pc
out/build/x64-Debug/engine/vendor/glfw/src/glfw3Config.cmake
out/build/x64-Debug/engine/vendor/glfw/src/glfw3ConfigVersion.cmake
x64-Debug/.ninja_deps
x64-Debug/.ninja_log
x64-Debug/build.ninja
x64-Debug/VSInheritEnvironments.txt
x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
x64-Debug/.cmake/api/v1/reply/cache-v2-07a8d7559652b66a32ff.json
x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-ac33de9b61ebeeed0748.json
x64-Debug/.cmake/api/v1/reply/codemodel-v2-d96d5c639267fc3ad642.json
x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
x64-Debug/.cmake/api/v1/reply/directory-engine-Debug-776e2b00c6520ab49d05.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp-Debug-20887ffa355fdea3c910.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.code-Debug-2effcb5d81e21d7954fb.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.contrib.zlib-Debug-3e5e682df05631f8a2f3.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.test-Debug-aa1b139da31cbd116b90.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.assimp.test.headercheck-Debug-66907a7a48e520e9b9d9.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glfw-Debug-bbe84d0cf0bf42c78ec2.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glfw.docs-Debug-9cd4d773b5332a0f4105.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glfw.src-Debug-913525aa925888951a10.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glm-Debug-525c7808a13e0e18d14b.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.glm.glm-Debug-358cf83d13a307fed808.json
x64-Debug/.cmake/api/v1/reply/directory-engine.vendor.imgui-Debug-1b47b04bff059dc96369.json
x64-Debug/.cmake/api/v1/reply/directory-testbed-Debug-35c0b35746384783206d.json
x64-Debug/.cmake/api/v1/reply/index-2024-04-06T13-14-57-0464.json
x64-Debug/.cmake/api/v1/reply/target-assimp-Debug-7f26d8916973121b7b48.json
x64-Debug/.cmake/api/v1/reply/target-engine-Debug-4bb91716a98f1ccaf327.json
x64-Debug/.cmake/api/v1/reply/target-glfw-Debug-b8a61fff85644d2de523.json
x64-Debug/.cmake/api/v1/reply/target-glm-Debug-df6a5e39e83b14e85ffb.json
x64-Debug/.cmake/api/v1/reply/target-imgui-Debug-8b555a871a0d0b6499c4.json
x64-Debug/.cmake/api/v1/reply/target-testbed-Debug-5f02a4377236d361adfe.json
x64-Debug/.cmake/api/v1/reply/target-uninstall-Debug-ae4f732537780d4ebceb.json
x64-Debug/.cmake/api/v1/reply/target-unit-Debug-bb00039a038a978cc982.json
x64-Debug/.cmake/api/v1/reply/target-update_mappings-Debug-c4de4040165b18706644.json
x64-Debug/.cmake/api/v1/reply/target-UpdateAssimpLibsDebugSymbolsAndDLLs-Debug-eaf48ef4167e225bfc9d.json
x64-Debug/.cmake/api/v1/reply/target-zlibstatic-Debug-7c899b23a2d7a76597b2.json
x64-Debug/.cmake/api/v1/reply/toolchains-v1-59c84e7e9823f39a3470.json
x64-Debug/Testing/Temporary/LastTest.log
x64-Debug/engine/engine.exp
x64-Debug/engine/engine.ilk
x64-Debug/engine/engine.pdb
x64-Debug/engine/imgui.ini
x64-Debug/engine/vendor/assimp/assimp.pc
x64-Debug/engine/vendor/assimp/revision.h
x64-Debug/engine/vendor/assimp/code/assimp-vc143-mtd.pdb
x64-Debug/engine/vendor/assimp/contrib/zlib/zconf.h
x64-Debug/engine/vendor/assimp/contrib/zlib/zlib.pc
x64-Debug/engine/vendor/assimp/generated/assimpConfig.cmake
x64-Debug/engine/vendor/assimp/generated/assimpConfigVersion.cmake
x64-Debug/engine/vendor/assimp/include/assimp/config.h
x64-Debug/engine/vendor/glfw/cmake_uninstall.cmake
x64-Debug/engine/vendor/glfw/src/glfw3.pc
x64-Debug/engine/vendor/glfw/src/glfw3Config.cmake
x64-Debug/engine/vendor/glfw/src/glfw3ConfigVersion.cmake
.editorconfig
CMakeSettings.json
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/engine/FileContentIndex/4f1cf33c-41c2-4278-91fb-1430412faad3.vsidx
.vs/engine/FileContentIndex/aa9dcce1-c9cb-46dd-88cd-f6203174a1fc.vsidx
.vs/engine/FileContentIndex/d89a8dd3-aaea-4f5f-b834-0853e4d283e3.vsidx
.vs/engine/FileContentIndex/e9d4450a-9b90-427d-8d2e-930498b9fc6b.vsidx
.vs/engine/FileContentIndex/fa1198b0-32fe-427c-ad21-57c23678c85c.vsidx
.vs/engine/v17/.wsuo
.vs/engine/v17/Browse.VC.db
.vs/engine/v17/Browse.VC.db-shm
.vs/engine/v17/Browse.VC.db-wal
.vs/engine/v17/Browse.VC.opendb
.vs/engine/v17/DocumentLayout.json
.vs/engine/v17/ipch/AutoPCH/1268398044eddc66/ENGINE.ipch
.vs/engine/v17/ipch/AutoPCH/3f78c4c9edce0cb7/CAMERA.ipch
.vs/engine/v17/ipch/AutoPCH/433d273f87fdd97b/MAIN.ipch
.vs/engine/v17/ipch/AutoPCH/989eb3140e0afbf6/MODEL.ipch
.vs/engine/v17/ipch/AutoPCH/ab617f80edb0d7bf/VERSION.ipch
.vs/engine/v17/ipch/AutoPCH/abc9712310fc7d2e/MESH.ipch
.vs/engine/v17/ipch/AutoPCH/b212147efd4c0faa/EXPONENTIAL.ipch
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vs/engine/FileContentIndex/94857baa-55d1-4cba-9511-f6ba9902385c.vsidx
.vs/engine/FileContentIndex/7d4ddecb-659c-4a9d-9f17-a3aaf0d13784.vsidx
.vscode/settings.json
.vscode/tasks.json
